 
.loginContainer{
    background-color: rgb(254, 254, 254) !important;
}
.paperStyle{
    
    padding: 20px;
    margin: 20px;
    height: auto;
}
.textFields{
    margin-top: 25px !important;
    border: none;
}

.submitBtn{
    margin-top: 20px !important;
    background-color:#64c5b1 !important;
    margin-bottom: 20px;
}
.submitBtn:hover{
    background-color: white !important;
    color: #64c5b1;
    font-weight: bold;
    border:1px solid #64c5b1;
}
.avatarLock{
    background-color: #64c5b1 !important;
}
.createAcc{
    margin-top: 30px !important;
   
}
.inputLabel{
    color: #64c5b1 !important;
}
.genderText{
    text-align: left;
    margin-top: 20px;
    color: #64c5b1 !important;
}
