
/* .logo{
  width: 20% !important;
} */
.navbar{
position: fixed;
    top: 0;
  background-color: rgb(255, 255, 255);
  margin: 0px;
    width: 100%;
    padding: 0px;
    z-index: 9;
}

 .nav-pills .nav-link.active,
 .nav-pills .show>.nav-link{
    color: black;
    background-color: #83d0c0;
    border: 50px !important;
 }
 .nav-link{
    color: #83d0c0;
    font-size: 18px;
    margin: 5px;
 }
 .nav-link:hover{

 }