
/* .logo{
  width: 20% !important;
} */
.container{
  padding:10px;

}
body, h1 ,h2 ,h3 ,h4 ,h5 ,h6 ,p{
  font-weight: 800;
  font-family: 'Raleway', sans-serif;
}
.my-logo{
  display: flex;
  align-items: center;
}
.my-logo > h2{
  font-family: 'Raleway', sans-serif;
  color: #83d0c0;
}
.navbar{
position: fixed;
    top: 0;
  background-color: rgb(255, 255, 255);
  margin: 0px;
    width: 100%;
    padding: 0px;
    z-index: 9;
}

 .nav-pills .nav-link.active,
 .nav-pills .show>.nav-link{
    color: black;
    background-color: #83d0c0;
    border: 50px !important;
 }
 .nav-link{
    color: #2b3634;
    font-size: 18px;
    margin: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    margin: 0 30px;
 }
 .nav-link:hover{
  color: #83d0c0;
 }